/* Match portfolio font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, .body {
  font-family: "Roboto", sans-serif !important;
}

/* Match portfolio background color #e7e2da */
.theme--light .body {
  background-color: #e7e2da;
}
.theme--light .header {
  background-color: #e7e2da;
}
.theme--light .nav__list {
  background-color: #ddd8cf;
}
@media screen and (min-width: 961px) {
  .theme--light .nav__list {
    background-color: #e7e2da;
  }
}
